@page
@model Team21V4._5.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.DateAdded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.DateAdded)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.StockOnHand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.StockOnHand)
        </dd>
       
            @Html.DisplayNameFor(model => model.Product.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Department)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Temperature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Temperature)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product?.ProductID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
