@page
@model Team21V4._5.Pages.Predictions.DisplayPredictionModel
@{
}

<table class="table table-bordered blue-table">
    <tr class="table table-dark">
        <th>
            @Html.DisplayNameFor(model => model.predictions[0].ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.predictions[0].ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.predictions[0].Score)
        </th>
    </tr>
    <tbody>
        @foreach (var item in Model.predictions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.ProductID)
                </td>
                <td>
                    @Html.DisplayFor(model => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Score)
                </td>
                @*<td>@item.ProductName? </td>*@
            </tr>
        }
        <tr>
            <td>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </td>
        </tr>
    </tbody>

</table>
<br>
